<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeforfun.generator.mapper.ConfigurationMapper">
  <resultMap id="BaseResultMap" type="cn.codeforfun.generator.model.Configuration">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="configuration_id" jdbcType="BIGINT" property="configurationId" />
    <result column="configuration_name" jdbcType="VARCHAR" property="configurationName" />
    <result column="environment_id" jdbcType="BIGINT" property="environmentId" />
  </resultMap>
</mapper>