<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeforfun.generator.mapper.EnvMapper">
  <resultMap id="BaseResultMap" type="cn.codeforfun.generator.model.Env">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="env_id" jdbcType="BIGINT" property="envId" />
    <result column="env_name" jdbcType="VARCHAR" property="envName" />
    <result column="env_code" jdbcType="VARCHAR" property="envCode" />
    <result column="project_id" jdbcType="BIGINT" property="projectId" />
  </resultMap>
</mapper>