<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.codeforfun.modules.app.AppMapper">
    <resultMap id="appVO" type="cn.codeforfun.modules.app.vo.AppVO">
        <id column="application_id" jdbcType="BIGINT" property="applicationId"/>
        <association property="app" resultMap="cn.codeforfun.generator.mapper.ApplicationMapper.BaseResultMap"/>
        <collection property="configList" resultMap="cn.codeforfun.modules.config.vo.ConfigMapper.configVO"/>
    </resultMap>
    <select id="selectAll" resultMap="appVO">
        select sa.application_id,
               application_name,
               application_code,
               sc.configuration_id,
               configuration_name,
               se.environment_id,
               environment_name,
               environment_code
        from system_application sa
                 left join relationship_application_configuration rac on sa.application_id = rac.application_id
                 left join system_configuration sc on rac.configuration_id = sc.configuration_id
                 left join system_environment se on sa.project_id = se.project_id
    </select>
</mapper>